.cinescuela-page {
  &.novedadesPage {
    header {
      position: relative;
      background-color: #000000;
      margin-bottom: 80px;
      @media only screen and (max-width: 1023px) {
        position: relative;
        z-index: 10;
      }
    }
  }
  &.novedades {
    header {
      background-color: #000000;
      position: relative;
      margin-bottom: 80px;
      @media only screen and (max-width: 1023px) {
        position: relative;
        z-index: 10;
        background: #000;
      }
    }
    main {
      color: #111;
      min-height: 100vh;
      max-width: 768px;
      margin: 0 auto;
      text-align: justify;
      h1 {
        font-size: 32px;
        line-height: 40px;
      }
      time {
        margin-bottom: 15px;
        display: block;
        font-size: 16px;
      }
      p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 15px;
        a {
          font-size: 14px;
          line-height: 22px;
          text-decoration: underline;
          color: #037a19;
          &:hover {
            opacity: 0.5;
          }
        }
      }
      img {
        display: block;
        width: 100%;
        margin: 0 auto 30px;
      }
    }
  }
  .more-news {
    h3 {
      color: #111;
    }
  }
}
