.home.cinescuela-app {
  main {
    background-color: #000;
    .banner {
      position: relative;
      aspect-ratio: 16 / 9;
      background-color: #000;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      width: 100%;
      height: 720px;
      @media only screen and (max-width: 1023px) {
        align-items: flex-start;
        aspect-ratio: 9 / 16;
        background-color: #000;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        height: 580px;
        justify-content: flex-end;
        margin: 0 auto;
        padding: 30px 0;
        overflow: hidden;
        position: relative;
        width: auto;
      }
      video,
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
      .container {
        padding: 50px 20px 0;
        z-index: 2;
        @media only screen and (max-width: 1023px) {
          padding: 0;
        }
        .overlay {
          width: fit-content;
          padding: 45px;
          border-radius: 20px 20px 0 0;
          background-color: rgba($color: #000000, $alpha: 0.5);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 30px;
          @media only screen and (max-width: 1023px) {
            background: transparent;
            padding: 20px;
            width: 100%;
          }
        }
        img {
          width: 280px;
          height: 100px;
          @media only screen and (max-width: 1023px) {
            display: none;
          }
        }
        p {
          max-width: 480px;
          line-height: 18px;
          @media only screen and (max-width: 1023px) {
            display: none;
          }
        }
        .actions {
          display: flex;
          width: 100%;
          gap: 10px;
          a {
            flex: 1;
            font-size: 13px;
            padding: 10px 0;
          }
        }
        .video-actions {
          position: absolute;
          display: flex;
          align-items: center;
          gap: 40px;
          right: 0;
          bottom: 52px;
          @media only screen and (max-width: 1023px) {
            display: none;
          }
          button {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            border-radius: 50%;
            &:hover {
              color: #037a19;
            }
            &#sound {
              border: 1px solid #fff;
              &:hover {
                background-color: #fff;
                color: #037a19;
              }
            }
          }
        }
      }
    }
    section.carousels {
      padding: 50px 20px;
      article {
        margin-bottom: 50px;
        h3 {
          font-size: 32px;
          line-height: 32px;
          margin-bottom: 30px;
        }
        .swiperCarousel {
          width: 100%;
          height: 270px;
          @media only screen and (max-width: 1023px) {
            height: 435px;
          }
          .swiper-slide {
            width: 435px;
            height: 270px;
            border-radius: 5px;
            overflow: hidden;
            @media only screen and (max-width: 1023px) {
              width: 270px;
              height: 435px;
            }
            a {
              width: 435px;
              height: 270px;
              display: block;
              position: relative;
              @media only screen and (max-width: 1023px) {
                width: 270px;
                height: 435px;
              }
              &::after {
                content: "";
                background: linear-gradient(
                  0deg,
                  rgba(0, 0, 0, 1) 0%,
                  rgba(255, 252, 252, 0) 100%
                );
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
              }
              &[data-temalight="true"] {
                &::after {
                  content: "";
                  background: linear-gradient(
                    0deg,
                    rgba(255, 255, 255, 1) 0%,
                    rgba(255, 252, 252, 0) 100%
                  );
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                }
              }

              img {
                transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
                width: 100%;
                height: 100%;
                object-fit: cover;
                &.movieLogo {
                  width: 280px;
                  z-index: 2;
                  height: 85px;
                  object-fit: contain;
                  position: absolute;
                  bottom: 8px;
                  left: 50%;
                  transform: translateX(-50%);
                  @media only screen and (max-width: 1023px) {
                    display: none;
                  }
                }
              }
              &:hover {
                img:not(.movieLogo) {
                  transform: scale(1.1);
                }
              }
            }
          }
        }
        .swiperTop {
          width: 100%;
          height: 323px;
          counter-reset: section-counter;
          .swiper-slide {
            width: 320px;
            a {
              display: flex;
              height: 325px;
              justify-content: flex-end;
              overflow: hidden;

              &::before {
                counter-increment: section-counter;
                content: counter(section-counter);
                font-weight: bold;
                font-size: 280px;
                line-height: 210px;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 0;
              }
              img {
                width: 232px;
                height: 325px;
                position: relative;
                border-radius: 8px;
                z-index: 2;
                object-fit: cover;
                transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
              }
              &:hover {
                img {
                  transform: translateX(-20px);
                }
              }
            }
          }
        }
      }
    }
  }
}
