.intern.cinescuela-app {
  background-color: #131313;
  padding: 50px;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  @media only screen and (max-width: 1023px) {
    padding: 0;
  }
  header {
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  }
  a.backArrow {
    display: block;
    left: 30px;
    position: absolute;
    top: 30px;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    width: 35px;
    z-index: 5;
    img {
      width: 100%;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  .videos {
    position: fixed;
    z-index: 20;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    @media only screen and (max-width: 1023px) {
      transform: rotate(90deg) translateY(-100%);
      width: 100vh;
      height: 100vw;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: top left;
    }
    .video-container {
      margin: 0 auto;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
    }

    .video-controls {
      right: 0;
      left: 0;
      padding: 10px 80px;
      position: absolute;
      bottom: 0;
      transition: all 0.2s ease;
      z-index: 5;
      @media screen and (max-width: 1023px) {
        padding: 10px;
      }
      .mode {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 20px;
      }
    }

    .top-controls {
      display: flex;
      align-items: center;
      width: 100%;
      height: 30px;
      padding: 0 9px;
      position: relative;
    }

    .video-controls.hide {
      opacity: 0;
      pointer-events: none;
    }

    .video-progress {
      position: relative;
      height: 3.4px;
      margin-right: 5px;
      width: calc(100% - 125px);
      background-color: #fff;
      .colorBuffer {
        height: 8px;
      }
    }

    progress {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 2px;
      width: 100%;
      height: 3.4px;
      pointer-events: none;
      position: absolute;
      top: 0;
    }

    progress::-webkit-progress-bar {
      background-color: transparent;
    }

    progress::-webkit-progress-value {
      background: #037a19;
    }

    progress::-moz-progress-bar {
      border: 1px solid #037a19;
      background: #037a19;
    }

    .seek {
      position: absolute;
      top: 0;
      width: 100%;
      cursor: pointer;
      margin: 0;
    }

    .seek:hover + .seek-tooltip {
      display: block;
    }

    .seek-tooltip {
      display: none;
      position: absolute;
      top: -30px;
      margin-left: -95px;
      font-size: 12px;
      padding: 3px;
      content: attr(data-title);
      font-weight: bold;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.6);
    }

    .bottom-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .left-controls {
      display: flex;
      align-items: center;
      color: #fff;
    }

    .volume-controls {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }

    .volume-controls input {
      width: 100px;
      opacity: 1;
      transition: all 0.4s ease;
    }

    .volume-controls:hover input,
    .volume-controls input:focus {
      width: 100px;
      opacity: 1;
    }

    button {
      align-items: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      font-size: 12px;
      justify-content: center;
      margin-right: 7px;
      outline: none;
      padding: 3px;
      position: relative;
    }

    button * {
      pointer-events: none;
    }

    button::before {
      content: attr(data-title);
      position: absolute;
      display: none;
      right: 0;
      top: -50px;
      background-color: #000;
      color: #fff;
      font-weight: bold;
      padding: 4px 6px;
      word-break: keep-all;
      white-space: pre;
    }

    button:hover::before {
      display: inline-block;
    }

    .fullscreen-button {
      margin-right: 0;
    }

    .pip-button svg {
      width: 26px;
      height: 26px;
    }

    .playback-animation {
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -40px;
      margin-top: -40px;
      width: 80px;
      height: 80px;
      border-radius: 80px;
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
    }

    input[type="range"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 3.4px;
      background: transparent;
      cursor: pointer;
    }

    input[type="range"]:focus {
      outline: none;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      width: 100%;
      cursor: pointer;
      border-radius: 1.3px;
      -webkit-appearance: none;
      transition: all 0.4s ease;
    }

    input[type="range"]::-webkit-slider-thumb {
      height: 26px;
      width: 26px;
      border-radius: 26px;
      background: #037a19;
      cursor: pointer;
      -webkit-appearance: none;
      margin-left: -1px;
    }

    input[type="range"]:focus::-webkit-slider-runnable-track {
      background: transparent;
    }

    input[type="range"].volume {
      height: 5px;
      background-color: #fff;
    }

    input[type="range"].volume::-webkit-slider-runnable-track {
      background-color: transparent;
    }

    input[type="range"].volume::-webkit-slider-thumb {
      margin-left: 0;
      height: 14px;
      width: 14px;
      background: #fff;
    }

    input[type="range"]::-moz-range-track {
      width: 100%;
      height: 3.4px;
      cursor: pointer;
      border: 1px solid transparent;
      background: transparent;
      border-radius: 1.3px;
    }

    input[type="range"]::-moz-range-thumb {
      height: 14px;
      width: 14px;
      border-radius: 50px;
      border: 1px solid #037a19;
      background: #037a19;
      cursor: pointer;
      margin-top: 5px;
    }

    input[type="range"]:focus::-moz-range-track {
      outline: none;
    }

    input[type="range"].volume::-moz-range-thumb {
      border: 1px solid #fff;
      background: #fff;
    }

    .hidden {
      opacity: 0;
    }

    svg {
      width: 28px;
      height: 28px;
      fill: #fff;
      stroke: #fff;
      cursor: pointer;
    }

    .playback-animation-click {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -25px;
      margin-top: -25px;
      width: 50px;
      height: 50px;
      border-radius: 80px;
      background-color: #000;
      display: flex;
      justify-content: center;
      z-index: 10;
      align-items: center;
      fill: #037a19 !important;
      stroke: #037a19 !important;
      &:hover {
        opacity: 0.5;
      }
    }

    .time {
      font-size: 18px;
      color: #fff;
    }
  }
  .video-container {
    overflow: hidden;
    height: 100vh;
    position: relative;
    @media screen and (max-width: 1023px) {
      background: #000;
    }
    video {
      width: 100%;
      height: 100%;
      background-color: #000;
      @media screen and (max-width: 1023px) {
        height: auto;
      }
    }
  }
  .description {
    background-image: linear-gradient(to top, #000, transparent);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-end;
    left: 0;
    opacity: 0;
    padding: 120px 80px;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 5;
    transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    width: 100%;
    @media screen and (max-width: 1023px) {
      padding: 20px 20px 150px;
    }
    &.active {
      opacity: 1;
    }
    h2 {
      max-width: 532px;
      color: #ffffff;
      font-size: 35px;
      letter-spacing: 3px;
      line-height: 42px;
    }
    p {
      max-width: 532px;
      color: #ffffff;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 23px;
    }
  }

  video {
    aspect-ratio: 16 / 9;
    width: 100%;
    background-color: #037a19;
  }
  video::-webkit-media-controls {
    display: none !important;
  }
  video::-webkit-media-controls-enclosure {
    display: none !important;
  }
  main {
    .movie-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 60px;
      margin: 0 auto;
      max-width: 1200px;
      @media only screen and (max-width: 1023px) {
        padding-top: 20px;
        grid-template-columns: 1fr;
      }
      & > img {
        width: 430px;
        height: 145px;
        grid-column: span 2;
        object-fit: contain;
        @media only screen and (max-width: 1023px) {
          height: auto;
          width: 80%;
          margin: 30px auto;
        }
      }
      .col {
        margin: 40px 0;
        @media only screen and (max-width: 1023px) {
          margin: 0;
          padding: 20px;
        }
        h2 {
          margin-bottom: 15px;
          font-size: 32px;
          font-weight: 500;
        }
        .tags {
          margin-bottom: 30px;
        }
        .sinopsis {
          margin-bottom: 30px;
        }
        .director {
          margin-bottom: 6px;
          color: #a7a7a7;
        }
        .country__date,
        .time {
          color: #a7a7a7;
        }
        .reconocimientos {
          @media only screen and (max-width: 1023px) {
            margin: 30px auto 0;
          }
          ul {
            list-style: disc;
            padding-left: 25px;
            li {
              font-size: 15px;
              line-height: 20px;
              margin-bottom: 5px;
            }
          }
        }
        &.opinion {
          background-color: #131313;
          padding: 55px;
          height: fit-content;
          @media only screen and (max-width: 1023px) {
            padding: 20px;
          }
          p {
            margin-bottom: 35px;
          }
        }
        &.movie {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 15px;
          position: fixed;
          bottom: 0;
          right: 30px;
          .age {
            font-size: 31px;
          }
        }
        &.sectionpedago {
          grid-column: span 2;
          display: flex;
          gap: 50px;
          flex-direction: column;
          justify-content: flex-start;
          @media only screen and (max-width: 1023px) {
            grid-column: span 1;
          }
          a {
            color: #fff;
            max-width: 720px;
            position: relative;
            overflow: hidden;
            &::after {
              content: "";
              background: linear-gradient(
                180deg,
                rgba(250, 201, 103, 0) 0%,
                #037a19 100%
              );
              width: 100%;
              height: 50%;
              position: absolute;
              bottom: 0;
              left: 0;
            }
            span.title {
              margin-bottom: 15px;
              font-size: 32px;
              font-weight: 500;
              line-height: 50px;
            }
            .content {
              height: 80%;
              position: relative;
              min-height: 378px;
              display: flex;
              overflow: hidden;
              flex-direction: column;
              align-items: flex-end;
              justify-content: flex-end;
              padding: 40px;
              background-color: rgba($color: #000000, $alpha: 0.5);
              img {
                transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
              }
              &:hover {
                img {
                  transform: scale(1.1);
                }
              }
              p {
                position: relative;
                font-size: 16px;
                z-index: 10;
                margin-bottom: 10px;
              }
              small {
                position: relative;
                font-size: 16px;
                text-decoration: underline;
                z-index: 10;
              }
            }
          }
        }
        &.cultura {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          grid-column: span 2;
          @media only screen and (max-width: 1023px) {
            grid-column: span 1;
          }
          ul {
            display: flex;
            gap: 15px;
            margin-bottom: 30px;
            max-width: 850px;
            flex-wrap: wrap;
            width: 100%;
          }
        }
      }
    }
  }
  &.teaching-mode {
    overflow: auto;
    padding: 0;
    header {
      opacity: 1;
      margin-bottom: 30px;
      position: static;
    }

    .videos {
      bottom: 130px;
      position: fixed;
      transform: scale(0.3);
      transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
      transform-origin: bottom right;
      right: 30px;
      border-radius: 10px;
      overflow: hidden;
      @media only screen and (max-width: 1023px) {
        position: static;
        transform: none;
        width: 100vw;
        height: auto;
        border-radius: 0;
      }
    }
    .video-container {
      overflow: hidden;
      height: auto;
      position: relative;
      @media screen and (max-width: 1023px) {
        background: #000;
      }
      video {
        width: 100%;
        height: 100%;
        background-color: #0ff;
        border-radius: 15px;
        @media screen and (max-width: 1023px) {
          border-radius: 0;
          height: auto;
        }
      }
    }
    .video-controls {
      display: none !important;
    }
  }
}
