.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
}
.swiper-actividades_complementarias {
  .swiper-slide {
    border-right: 1px solid #fff;
    p {
      font-size: 12px;
    }
    &:last-of-type {
      border-right: 0;
    }
  }
}
.swiperHome {
  height: 80vh;
  width: 100%;
  min-height: 770px;
  @media only screen and (max-width: 1024px) {
    aspect-ratio: 9 / 16;
    height: 90vh;
    min-height: 100vw;
    width: 100%;
  }
  .swiper-pagination-bullet-active {
    background-color: #037a19;
  }
  .swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 116px;
    position: relative;
    picture {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      object-fit: cover;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 80%
      );
      width: 100%;
      height: 100%;
    }
    .text {
      max-width: 768px;
      position: relative;
      z-index: 5;
      p {
        text-align: center;
        font-size: clamp(2rem, 5vw + 1rem, 55px);
        line-height: clamp(2rem, 5vw + 1rem, 60px);
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      a {
        width: fit-content;
        margin: 0 auto;
      }
    }
  }
}
.swiperHomeApp {
  height: 80vh;
  min-height: 770px;
  width: 100%;
  @media only screen and (max-width: 1024px) {
    aspect-ratio: 9 / 16;
    height: 90vh;
    min-height: 100vw;
    width: 100%;
  }
  .swiper-pagination-bullet-active {
    background-color: #037a19;
  }
  .swiper-slide {
    align-items: flex-end;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    picture {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      object-fit: cover;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 80%
      );
      width: 100%;
      height: 100%;
    }
    .text {
      max-width: 768px;
      position: relative;
      z-index: 5;
      p {
        text-align: center;
        font-size: clamp(2rem, 5vw + 1rem, 55px);
        line-height: clamp(2rem, 5vw + 1rem, 60px);
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      a {
        width: fit-content;
        margin: 0 auto;
      }
    }
  }
}
